header {
  box-shadow: 0 0 10px 0 #000;
}

nav {
  display: none;
}
.show {
  display: flex;
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.search::placeholder {
  color: #8a8a8a;
}
