.products-title p::after {
  content: "";
  display: block;
  height: 4px;
  width: 60%;
  background-image: linear-gradient(to right, #f30202, #f97a05);
}
.grid-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

@media (min-width: 360px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 568px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (min-width: 569px) and (max-width: 851px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
